@use "./components";
@use "./variables" as *;
//
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
//
.page__wrapper {
  min-height: 101vh;
  max-width: 678px;
  margin: 0 auto;
}
/* HomePage News */
.news__wrapper {
  list-style: none;
  margin-bottom: 90px;
}
.news__details {
  border-top: 1px solid grey;
}
//
.news__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 15px;
  cursor: pointer;
}
.news__summary::-webkit-details-marker {
  display: block;
}

.news__summary__title {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: $color-greyish;
  img{
    width: 20px;
  }
}
.news__arrow {
  transition: transform 0.2s ease-in-out ;
  transform: rotate(-90deg);
}
.news__arrow.active {
  transform: rotate(0);
}

//
.news__ul {
  .article__li {
    display: flex;
    border-top: 1px solid gray;
    list-style: none;
    overflow: hidden;
  }

  .article__left {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
    }
    h3 {
      font-size: 18px;
    }
  }
  .article__right {
    width: 150px;
    background-color: $color-grinch;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
